* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url(/img/8677c490bfb25e747a8eaeef6dfc23a4.jpg);
    
    background-size: auto 100vh;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center bottom; 
    
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 420px;
    background: transparent;
    border: 2px solid #848080;
    backdrop-filter: blur(20px); 
    border-radius: 10px;
    padding: 30px 40px;
}

h1{
    font-size: 36px;
    text-align: center;
    color: #f2efef; 
    margin-bottom: 30px;
}

.input-container{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-container input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: #fff; 
    padding: 20px 45px 20px 20px;
}

.input-container input::placeholder{
    color: #ffffff; 
}


.input-container a {
    color: #9370DB; 
    text-decoration: none;
    font-size: 14px;
    position: absolute; 
    top: 55px; 
    right: 0;
}

button {
    width: 100%;
    height: 45px;
    background: #fff; 
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333; 
    font-weight: 700;
    margin-top: 20px;
}

.container div p {
    color: #f2efef;
    text-align: center;
    margin-top: 20px;
}

.container div a {
    color: #ffffff; 
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
}

.input-container img {
    position: absolute;
    right: 24px;
    top: 20%;
    margin-top: 5px;
    color: #fff;
}

.input-container a{
    font-size: 16px;
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
}

.input-container a:hover{
    text-decoration: underline;
}

.submit-button {
   width: 100%;
   height: 50px;
   background-color: #8629f1;
   border: none;
    border-radius: 25px;
    color: #fff;
    font-weight: 500;
    margin-top: 24px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #8c5ef0;
}

.register-link p { 
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin: 5px ;
    
}

.register-link p a {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
    display: inline;
    text-align: left;
}

.register-link p a:hover {
    text-decoration: underline;
}